# Mantener desactivado el timestamp de logs de la app (IDF logger).
CONFIG_LOG_TIMESTAMP_SOURCE_NONE=y
CONFIG_ESP_WIFI_ENABLED=n
CONFIG_MQTT_BRIDGE_MDNS_HOSTNAME="esp32-zigbee"
CONFIG_MQTT_BRIDGE_MDNS_INSTANCE="ESP32-C5 Zigbee Coordinator"
CONFIG_MQTT_BRIDGE_MQTT_BROKER_URI=""
CONFIG_MQTT_BRIDGE_MQTT_CLIENT_ID="esp32c5-zb-coordinator"
CONFIG_MDNS_PREDEF_NETIF_STA=n
CONFIG_MDNS_PREDEF_NETIF_AP=n
CONFIG_MDNS_PREDEF_NETIF_ETH=y
