# Mantener desactivado el timestamp de logs de la app (IDF logger).
CONFIG_LOG_TIMESTAMP_SOURCE_NONE=y
CONFIG_ESP_WIFI_ENABLED=n
CONFIG_ENABLE_WIFI_STATION=n
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_HOST_TASK_STACK_SIZE=4096
CONFIG_BT_NIMBLE_TRANSPORT_ACL_SIZE=255
CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y
CONFIG_LWIP_IPV6_AUTOCONFIG=y
CONFIG_LWIP_IPV6_NUM_ADDRESSES=6
CONFIG_MBEDTLS_HKDF_C=y
CONFIG_CHIP_DEVICE_ENABLE_DYNAMIC_SERVER=y
CONFIG_ESP_MATTER_MAX_DEVICE_TYPE_COUNT=4
CONFIG_ESP_MATTER_MAX_DYNAMIC_ENDPOINT_COUNT=32
CONFIG_ESP_MATTER_SCENES_TABLE_SIZE=16
CONFIG_ESP_MATTER_BINDING_TABLE_SIZE=4
CONFIG_ESP_MATTER_UNICAST_MESSAGE_COUNT=4
CONFIG_ESP_MATTER_ENABLE_OPENTHREAD=n
CONFIG_CHIP_TASK_STACK_SIZE=6144
CONFIG_MAX_EVENT_QUEUE_SIZE=24
CONFIG_NUM_TIMERS=16
CONFIG_NUM_TCP_ENDPOINTS=4
CONFIG_NUM_UDP_ENDPOINTS=4
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_MDNS_PREDEF_NETIF_STA=n
CONFIG_MDNS_PREDEF_NETIF_AP=n
CONFIG_MDNS_PREDEF_NETIF_ETH=y
